/**
 * Categories
 */

.categories {
  &__list {
    &-item {
      &-link {
        color: var(--text-color);
        &:hover,
        &:focus {
          color: var(--focus-color);
          border-bottom: 1px solid var(--focus-color);
        }
      }
    }
  }
}
