@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  @include margin-bottom(1.25);
  &:last-child {
    @include margin-bottom(0.5);
  }
  &__title {
    font-size: $typographic-base-font-size * 1.6875;
    @include line-height(1.5);
    @include margin-top(0);
    @include margin-bottom(0.5);
    &-link {
      color: var(--text-color);
      &:hover,
      &:focus {
        color: var(--text-color);
        border-bottom: 1px solid var(--text-color);
      }
    }
  }
  &__description {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-bottom(0.75);
  }
  &__meta {
    &-time {
      font-size: $typographic-small-font-size;
      color: var(--text-color);
      font-weight: 500;
      text-transform: uppercase;
    }
    &-divider {
      margin: 0 5px;
    }
    &-category {
      &-link {
        font-size: $typographic-small-font-size;
        color: var(--link-secondary-color);
        font-weight: 500;
        text-transform: uppercase;
        &:hover,
        &:focus {
          color: var(--focus-color);
        }
      }
    }
  }
  &__readmore {
    font-size: $typographic-base-font-size;
    color: var(--focus-color);
    &:hover,
    &:focus {
      color: var(--focus-color);
      border-bottom: 1px solid var(--focus-color);
    }
  }
}
