@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  @include margin-bottom(1.5);
  &:last-child {
    @include margin-bottom(0.5);
  }
  &__title {
    font-size: $typographic-base-font-size * 1.6875;
    letter-spacing: -0.05em;
    @include line-height(1.2);
    @include margin-top(0);
    @include margin-bottom(0);
    &-link {
      color: var(--text-color);
      &:hover,
      &:focus {
        color: var(--text-color);
      }
    }
  }
  &__description {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin-bottom(0.25);
  }
  &__meta {
    &-time {
      font-size: $typographic-small-font-size;
      color: var(--text-secondary-color);
      font-weight: 500;
      text-transform: uppercase;
    }
    &-readtime {
      margin-right: 1rem;
    }
    &-divider {
      margin: 0 5px;
    }
    &-category {
      display: block;
      &-link {
        font-size: $typographic-small-font-size;
        color: var(--link-secondary-color);
        font-weight: 500;
        text-transform: uppercase;
        &:hover,
        &:focus {
          color: var(--focus-color);
        }
      }
    }
  }
  &__readmore {
    font-size: $typographic-base-font-size;
  }
}

@include breakpoint-sm {
  .post {
    &__meta {
      &-category {
        display: inherit;
      }
    }
  }
}
