{% comment %}On récupère la langue en fonction de l'URL{% endcomment %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
    {% assign locale = site.default_locale %}
{% endunless %}

<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF8">
    <meta name="viewport"    content="width=device-width, minimum-scale=1.0">
    <meta name="description" content="{{ page.meta_description }}">

    <title>{{ page.title }} | @nicoespeon</title>

    <link rel="icon"         href="/assets/img/icon.png">

    <!-- DNS prefetch for external resources -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//p.twitter.com">
    <link rel="dns-prefetch" href="//cdn.api.twitter.com">
    <!-- <link rel="dns-prefetch" href="//google-analytics.com"> -->

    <link rel="stylesheet"   href='http://fonts.googleapis.com/css?family=Snippet|Roboto:300,100,700'>
    <link rel="stylesheet"   href="/assets/css/nicoespeon.css" media="screen">
</head>
<body>
    <div id="main-content">
        <div class="container">
            <div class="gw">
                <div class="g seven-tenths portable-one-whole">
                    <header class="media" role="banner">
                        <!-- Brand logo -->
                        <img src="http://www.gravatar.com/avatar/46978c87c5c75cea5d05a61fa8b7d95b" class="media__img img--circle" />

                        <!-- Main navigation -->
                        <nav class="media__body" role="navigation">
                            <ul class="nav nav--main">
                                {% for link in site.locales[locale].nav %}
                                    <li{% if page.url == link.url %} class="current"{% endif %}>
                                        <a href="{{ link.url }}">{{ link.text }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav><!-- /navigation -->
                    </header><!-- /header -->

                    {{ content }}
                </div>

                <div class="g three-tenths portable-one-whole">
                    <div id="sidebar" role="complementary">
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /main-content -->

    <footer role="contentinfo">
        <div class="container">
            <p>
                &copy; {{ site.time | date: "%Y" }} - <a href="https://twitter.com/nicoespeon" target="_blank">Nicolas (Espeon) Carlo</a><br>
                {{ site.locales[locale].footer_message }}
            </p>
        </div>
    </footer>

    <!-- Twitter API -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- Google Analytics -->
    <script>var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-39957541-2']);_gaq.push(['_setDomainName', 'nicoespeon.com']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>

    {% if page.comments %}
    <!-- Disqus -->
    <script>var disqus_shortname = 'nicoespeon';var disqus_url = 'http://nicoespeon.com{{ page.url }}';var title = "{{ page.title | escape }}";(function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();</script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}

    {% if page.jsbin %}
    <!-- JSBin -->
    <script src="http://static.jsbin.com/js/embed.js"></script>
    {% endif %}

    {% if page.codepen %}
    <!-- CodePen -->
    <script async src="http://codepen.io/assets/embed/ei.js"></script>
    {% endif %}
</body>
</html>