{% comment %}On récupère la langue en fonction de l'URL{% endcomment %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
    {% assign locale = site.default_locale %}
{% endunless %}

<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF8">
    <meta name="viewport"    content="width=device-width, minimum-scale=1.0">
    <meta name="description" content="{{ page.meta_description }}">

    <title>{{ page.title }} | @nicoespeon</title>

    <link rel="icon"         href="/assets/img/icon.png">

    <!-- DNS prefetch for external resources -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//p.twitter.com">
    <link rel="dns-prefetch" href="//cdn.api.twitter.com">
    <!-- <link rel="dns-prefetch" href="//google-analytics.com"> -->

    <link rel="stylesheet"   href='http://fonts.googleapis.com/css?family=Snippet|Roboto:300,100,700'>
    <link rel="stylesheet"   href="/assets/css/nicoespeon.css" media="screen">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39957541-1', 'nicoespeon.com');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="main-content">
        <div class="container">
            <div class="gw">
                <div class="g seven-tenths portable-one-whole">
                    <header class="media" role="banner">
                        <!-- Brand logo -->
                        <img src="http://www.gravatar.com/avatar/46978c87c5c75cea5d05a61fa8b7d95b" class="media__img img--circle" />

                        <!-- Main navigation -->
                        <nav class="media__body" role="navigation">
                            <ul class="nav nav--main">
                                {% for link in site.locales[locale].nav %}
                                    <li{% if page.url == link.url %} class="current"{% endif %}>
                                        <a href="{{ link.url }}">{{ link.text }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav><!-- /navigation -->
                    </header><!-- /header -->

                    {{ content }}
                </div>
            
                <div class="g three-tenths portable-one-whole">
                    <div id="sidebar" role="complementary">
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /main-content -->

    <footer role="contentinfo">
        <div class="container">
            <p>
                &copy; {{ site.time | date: "%Y" }} - <a href="https://twitter.com/nicoespeon" target="_blank">Nicolas (Espeon) Carlo</a><br>
                {{ site.locales[locale].footer_message }}
            </p>
        </div>
    </footer>

    <!-- Twitter API -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>